:root{
    --nero-100: rgba(0, 0, 0, 1);
    --black-opacity: rgba(0, 0, 0, 0.5);
    --bluscuro: rgba(20, 25, 34, 1);
    --grigioscuro: rgba(40, 40, 40, 1);
    --text-white: rgba(255, 255, 255, 1);
    --text-grey: rgba(113, 113, 113, 1);
    --lime-green: rgba(173, 255, 47, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    display: flex;
    justify-content: flex-start;
}
.wrap{
    flex-wrap: wrap;
}
.flexi{
    flex-flow: row wrap;
}
.debug {
    border: 1px solid white;
    min-height: 50px;
}
.bianco{
    color: var(--text-white);
}
.grigio{
    color: var(--text-grey);
}
li{
    list-style-type: none;
    padding: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.cerchio{
    border-radius: 50%;
    overflow: hidden;
    /* sistemare qui */
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
}
.main {
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}
.main-content {
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--bluscuro);
    overflow: hidden;
}
.inner-content {
    overflow-y: auto;
    height: 100%;
}
.playbar {
    width: 100%;
    height: 95px;
    background-color: var(--grigioscuro);
}
nav {
    width: 230px;
    height: 100%;
    background-color: var(--nero-100);
}
.card{
    width: calc(100% / 6);

}
aside {
    width: 100%;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
    position: relative;
}
.btn-bianco{
    color: var(--text-white);
    border: 1px solid var(--text-white);
    border-radius: 20px;
    text-align: center;
    padding: 10px 30px;
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 10px;
}
.padding{
    padding: 10px;
}
.p-left{
    padding-left: 10px;
}
.center{
    text-align: center;
}
.margin{
    margin: 0 10px;
}
img{
    width: 100%;
}
.margin-bot{
    margin-bottom: 5px;
}
h5, h4{
    font-size: 10px;
}
.logo{
    width: 150px;
    margin: 0 auto;
}










@media screen and (max-width: 700px) {
    .main{
        min-width: 650px;
    }
    .main-content{
        width: calc(100% - 230px);
        height: 100%;
    }
    .cards {
        display: flex;
        flex-flow: row wrap;
    }
    .wrapper{
        width: 100%;
        height: 100vh;
    }
    .nav{
        display: flex;
        flex-flow: row wrap;
    }

}
@media screen and (max-width: 600px) {
    .main{
        min-width: 550px;
    }
    nav{
        width: 45px;
    }
}